:root {
  --atlantis: #72d33b;
  --black-squeeze: #eaf1f7;
  --calypso: #326f97;
  --demo-hello-color: #929292;
  --monza: #da0724;
  --mystic: #dde7ed;
  --silver: #ccc;
  --silver-chalice: #a1a1a1;
  --tundora: #4a4a4a;
}

/* stylelint-disable */
:export {
  atlantis: var(--atlantis);
  blackSqueeze: var(--black-squeeze);
  calypso: var(--calypso);
  monza: var(--monza);
  mystic: var(--mystic);
  silverChalice: var(--silver-chalice);
  tundora: var(--tundora);
}
/* stylelint-enable */
